@page "/nova_senha/{Email}"
@inject IJSRuntime JsRuntime
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>Criação de nova senha</h3>
<label for="password">Por favor insira sua nova senha</label>
<input id="password" @bind-value="_password" type="password" />
<label for="password">Por favor repita sua nova senha</label>
<input id="password" @bind-value="_repeatPassword" type="password" />
<button @onclick="CreateNewPassword" type="submit" class="btn btn-primary ">Criar nova senha</button>
@code {

}
