@page "/register"
@using AuditApp.Shared.Models.Dto;
@using System.Text.Json.Serialization;
@using System.Text.Json;
@using System.Text;
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

@inject HttpClient Http
<h3>Cadastro de Usuário</h3>
<EditForm Model="_userRegister" OnSubmit="RegisterUser">
    <label for="username">Nome</label>
    <InputText id="username" @bind-Value="_userRegister.Name" />
    <label for="username">E-mail</label>
    <InputText id="username" @bind-Value="_userRegister.Email" type="email" />
    <label for="password">Senha</label>
    <InputText id="password" @bind-Value="_userRegister.Password" type="password" />
    <button type="submit" class="btn btn-primary ">Registrar</button>
</EditForm>
@*<button @onclick="@FillDatabaseWithQuestions">Pode confiar</button>*@
<h1>@_error</h1>

@code {
    private string _error = string.Empty;
    private UserRegister _userRegister = new UserRegister();

    private async Task FillDatabaseWithQuestions()
    {
        var result = await Http.GetAsync("api/auth/getfake");
    }

    private async Task RegisterUser()
    {
        try
        {
            var stringContent = new StringContent(JsonSerializer.Serialize(_userRegister), Encoding.UTF8, "application/json");

            /*https://auditappserver20231124221256.azurewebsites.net/*/
            var result = await Http.PostAsync("api/auth/register", stringContent);

            if (result.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("login", true);
            }
            else
            {
                var e = await result.Content.ReadAsStringAsync();
                _error = $"{e}\n\n\n\n{result.StatusCode}";
                await JsRuntime.InvokeVoidAsync("alert", e);
            }
        }
        catch (Exception e)
        {
            _error = $"{e.Message}\n{e.StackTrace}\n";
            await JsRuntime.InvokeVoidAsync("alert", e.Message);
        }
    }
}
