@using BlazorBootstrap
@inject AuthenticationStateProvider AuthStateProvider
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">Login</a>*@
            <LoginLogoutButton/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <Preload LoadingText="Carregando..." />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}

